*.cover
*.csv
*.out
*.pdf
*.pho
*.png
*.pth
*.pyd
*.pyc
*.pyo
.Python
.cache
.coverage
.hypothesis/
.pytest_cache/
.tox/
__pycache__/
-beforeTree/
_archive/
best_model.pth
coverage.xml
env/
meta_rf_classifier.joblib
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
results/
venv/
# Whitelist only specific directories in finalResults/
finalResults/*
!finalResults/convnext_tiny_skip_pretrain
!finalResults/convnext_tiny_pretrained
!finalResults/convnext_tiny_skip_pretrain/**
!finalResults/convnext_tiny_pretrained/**